$bodyBg :#ffffff;
$danger: #C82333;
$tableBorder: #873312;
$scrollBar: #C24B14;
$hitZoneBG: #BB9666;
$creaturePlaceholder: white;

$defaultFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";